@import 'node_modules/pixel-borders/src/styles/pixel-borders.scss';
@import '../../utils/constants.scss';

#one {
  height: 80vh;
  width: 100%;
  background: linear-gradient(180deg, #b283e1 0%, #f5d7ff 100%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: $pixelar-font;

  .section-pixel-divider {
    background: url('../../assets/overlays/pixel_overlay_one.svg') repeat-x;
  }

  #gotchigang-image {
    width: 450px;
    position: relative;
    margin: 3rem;
  }

  .right-container {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    .slogan-container {
      width: 100%;
      // font-family: $press-start-font;
      // font-size: 28px;
      font-size: 4rem;
      line-height: 60px;
      color: #3f0065;
      p:nth-child(1) {
        text-align: left;
      }
      p:nth-child(2) {
        text-align: right;
      }
    }

    #explainer-text {
      // font-family: $source-sans-font;
      // font-size: 20px;
      font-size: 1.5rem;
      line-height: 36px;
      letter-spacing: 2px;
      color: #3f0065;
      span {
        color: #bd00e0;
        text-decoration: underline;
      }
    }

    .right-bottom-container {
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-top: 1rem;
      #rainbow-text-image {
        margin-right: 2rem;
      }
      // button {
      //   padding: 0.8rem 1rem 0.8rem 1rem;
      //   @include pixel-borders(
      //     $corner-size: 1,
      //     $border-size: 4px,
      //     $border-color: #000,
      //     $border-inset-color: false
      //   );
      //   background: #f0d129;
      //   font-family: $press-start-font;
      //   font-size: 18px;
      //   color: white;
      //   -webkit-text-stroke: 1.5px black;
      // }
      button {
        border: 2px solid #a18a04;
        margin: 2rem 2rem;
        font-family: $press-start-font;
        background: linear-gradient(180deg, #f3e597 0%, #f0d129 100%);
        padding: 0.8rem 1rem 0.8rem 1rem;
        color: white;
        -webkit-text-stroke: 1.5px black;
        border-radius: 6px;
        border-bottom: 5px solid #a18a04;
        transition: all 0.1s ease-in-out;
        font-size: 20px;
      }

      button:hover {
        border-bottom-width: 2px;
        margin-top: 2.2rem;
        cursor: pointer;
      }
    }

    #powered-by-aave-image {
      margin-right: auto;
    }
  }
}
