@import 'node_modules/pixel-borders/src/styles/pixel-borders.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.app {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

section {
  position: relative;
  height: 100vh;
  img {
    width: 100%;
    position: absolute;
    bottom: -5px;
  }
}

header {
  height: 32vh;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: row;
    font-family: 'Press Start 2P', cursive;
    margin-top: 2rem;
    span {
      display: flex;
      flex-direction: row;
      padding: 1rem;
    }
    p {
      color: #d500ff;
    }
  }
  #header_overlay {
    width: 100%;
    position: absolute;
    bottom: -5px;
  }
  #header-logo {
    width: 250px;
  }
  button {
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin: 2rem;
    @include pixel-borders(
      $corner-size: 1,
      $border-size: 4px,
      $border-color: #000,
      $border-inset-color: false
    );
    background: #d500ff;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    -webkit-text-stroke: 1.5px black;
  }
}

#one {
  width: 100%;
  background: linear-gradient(180deg, #b283e1 0%, #f5d7ff 100%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  div {
    margin: 3rem;
  }
  .sub-container-one {
    img {
      width: 450px;
      position: relative;
    }
  }
  .sub-container-two {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #3f0065;
    .title-tag {
      width: 100%;
      font-family: 'Press Start 2P', cursive;
      font-size: 28px;
      line-height: 60px;
      p:nth-child(1) {
        text-align: left;
      }
      p:nth-child(2) {
        text-align: right;
      }
    }
    #explainer {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 2px;
    }
    button {
      padding: 0.8rem 1rem 0.8rem 1rem;
      margin-left: auto;
      @include pixel-borders(
        $corner-size: 1,
        $border-size: 4px,
        $border-color: #000,
        $border-inset-color: false
      );
      background: #f0d129;
      font-family: 'Press Start 2P', cursive;
      font-size: 18px;
      color: white;
      -webkit-text-stroke: 1.5px black;
    }
  }
}

#two {
  height: 120vh;
  background: linear-gradient(
    #ccffff 0%,
    #76e6ff 15%,
    #50c0ff 45%,
    #3576f4 70%,
    #391ee0 100%
  );
  #sub-overlay-one {
    bottom: 0;
    top: 2.5%;
  }
  #sub-overlay-two {
    bottom: 0;
    top: 28%;
  }
  #sub-overlay-three {
    bottom: 0;
    top: 55%;
  }
}

#three {
  background: linear-gradient(180deg, #3f0065 0%, #8c0087 100%);
}

#four {
  background: linear-gradient(180deg, #ffb4d8 0%, #ff50a4 100%);
}

#five {
  height: 100vh;
  background: linear-gradient(180deg, #efd7fe 0%, #b880ff 100%);
  #secondary-bg {
    height: 90%;
    background: url('./assets/drum_bg_repeat.png');
    background-size: 75px;
    opacity: 0.3;
  }
}

#six {
  height: 190vh;
  background: url('./assets/dao_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#seven {
  height: 120vh;
  display: flex;
  flex-direction: column;
  div {
    width: 100%;
  }
  #top {
    height: 60%;
    background: linear-gradient(180deg, #33c6c6 0%, #09f5bd 100%);
    position: relative;
    #sub-overlay {
      width: 100%;
      position: absolute;
      bottom: -5px;
    }
  }
  #bottom {
    height: 40%;
    background: linear-gradient(180deg, #091038 0%, #320018 100%);
  }
}

// p {
//   background-color: white;
//   border-radius: 10px;
//   padding: 1rem;
//   border-width: 30px;
//   border-style: solid;
//   border-image-source: url('./assets/pink_border_image.png');
//   border-image-slice: 30;
//   border-image-repeat: round;
//   border-image-outset: 0.2;
//   font-family: 'Source Sans Pro', sans-serif;
//   font-size: 20px;
//   // @include pixel-borders(
//   //   $corner-size: 1,
//   //   $border-size: 5px,
//   //   $border-color: rgb(218, 14, 14),
//   //   $border-inset-color: false
//   // );
// }

// button {
//   margin-top: 5rem;
//   padding: 2rem;
//   border: none;
//   background: url('./assets/button-bg.png');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   font-family: 'Press Start 2P', cursive;
//   color: white;
//   -webkit-text-stroke: 1px black;
//   font-size: 24px;
// }
