.app {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

section {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section-pixel-divider,
#header-pixel-divider {
  width: 100%;
  position: absolute;
  bottom: -5px;
}

// p {
//   background-color: white;
//   border-radius: 10px;
//   padding: 1rem;
//   border-width: 30px;
//   border-style: solid;
//   border-image-source: url('./assets/pink_border_image.png');
//   border-image-slice: 30;
//   border-image-repeat: round;
//   border-image-outset: 0.2;
//   font-family: 'Source Sans Pro', sans-serif;
//   font-size: 20px;
//   // @include pixel-borders(
//   //   $corner-size: 1,
//   //   $border-size: 5px,
//   //   $border-color: rgb(218, 14, 14),
//   //   $border-inset-color: false
//   // );
// }
