.app {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

section {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section-pixel-divider,
#header-pixel-divider {
  width: 100%;
  position: absolute;
  bottom: -5px;
}
